# Created by https://www.toptal.com/developers/gitignore/api/microsoftoffice,adobe
# Edit at https://www.toptal.com/developers/gitignore?templates=microsoftoffice,adobe

### Adobe ###
# Adobe Source Files
*.psd
*.ai
*.indd
*.prproj
*.aep
*.pdf
*.docx

### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# End of https://www.toptal.com/developers/gitignore/api/microsoftoffice,adobe